.product-admin-item {
  padding: 10px 0;
  border: solid 1px #7038ff;
  margin-bottom: 10px;
}

.remove-button, .edit-button {
    color: #fff;
    font-weight: bolder;
    background-color: #7038ff;
    border: solid 1px #7038ff;
    margin-left: 5px;
}

.remove-button:hover, .edit-button:hover {
    opacity: 0.9;
}

.editable-product-image {
  min-width: 30px;
  max-width: 40px;
  margin-right: 5px;
}