.cabi-header{
  background-color: #7038ff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.counter-cart{
  color: rgba(200,0,0, 0.7);
  font-weight: bolder;
  font-size: 20px;
  opacity: 1;
  animation: fade 2.5s linear;
}

@keyframes fade {
  0%,100% { opacity: 0 }
  50% { opacity: 1 }
}